/* general CSS (used in muliple pages) */
img {
    border-radius: 8px;
    height: auto;
}
body {
    background-color: white;
    width: 100%;
}
.page_front {
    display:flex;
    padding: 60px;
    padding-bottom: 100px;
    flex-direction: column;
}
.box {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.half_box{
    width: 50%;
    padding:50px;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 50px;
}
button {
    background-color: #0072ce; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
button:hover {
    background-color: #777;
}
.blue {
    color: #0072ce;
}
.white {
    color: white;
}
.black {
    color:black;
}
.silver {
    color: #8c9091;
}
.gold {
    color: #85754e;
}
p{
    color: #8c9091;
    /* font-family:'Source Sans Pro', sans-serif; */
}
h1{
    color: #0072ce;
    /* font-family: 'Gotham Bold', sans-serif; */
    font-size: 50px;
}
h2 {
    color: #0072ce;
}
@media only screen and (max-width: 1000px){
    .page_front {
        padding: 30px;
        padding-bottom: 70px;
    }
    .box {
        width: 100%;
    }
    .half_box{
        width:100%;
        padding:0px;
    }
    .competitions{
        width: 100%;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }
}


/* Home.js css only */
.landing{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
}
.connect_container{
    margin-left:10px;
}

/* About.js css only */
.card{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}
.card .card-title{
    /* font-family: Arial, sans-serif; */
    margin: 0;
    color: hsl(0, 0%, 20%);
}
.card .card-text{
    /* font-family: Arial, sans-serif; */
    color: hsl(0, 0%, 30%);
    justify-content: flex-start;
    text-align: left;
}
/* box - but with 80px padding */
.competitions{ 
    padding: 80px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.ctn{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left:90px;
    padding-right:30px;
    text-align: center;
}

/* ContactForm.js CSS */
form {
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 100%;
    font-size: 16px;

    input {
      width: 50%;
      height: 35px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgb(220, 220, 220);

      &:focus {
        border: 2px solid#0072ce;
      }
    }

    textarea {
  
      width: 50%;
      max-height: 100px;
      min-height: 100px;
      padding: 7px;
      outline: none;
      border-radius: 5px;
      border: 1px solid #0072ce;

      &:focus {
        border: 2px solid #0072ce;
      }
    }

    label {
      margin-top: 1rem;
    }

    input[type="submit"] {
      margin-top: 2rem;
      cursor: pointer;
      background: #0072ce;
      color: white;
      border: none;
    }
}